

.createProfile {
    grid-column: center-start / center-end;
    background:$fb-grey;
    justify-items:center;
    color:$trello-blue-900;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 50%;
    padding: 4rem 0rem;

    @include respond(tab-port){
        grid-column: full-start / full-end;
        padding: 1rem 3rem;
        width: 80%;
    }
    @include respond(phone){
        width: 90%;
    }
    &__extras {
        margin: 1rem 0rem;
    }


    &__header {
        grid-column: 1/-1;
        justify-self:center;
        padding: 2rem;
        
    }
     &__form {
        grid-column: 2/ span 1;
        justify-self:center;    
    }
    &__options {
        margin-left: 1rem;
    }
    &__errors {
        background-color: $trello-red-100;
        display: inline-block;
        color: $trello-red-900;
        font-weight: 600;
        padding: 0.5rem 3rem;
        margin-top: 1rem;
    }
}