

.createProfile {
    grid-column: center-start / center-end;
    background:$fb-grey;
    justify-items:center;
    color:$trello-blue-900;
    font-size: 1.6rem;
    padding: 1rem;
    @include respond(tab-port){
        grid-column: full-start / full-end;
        padding: 1rem 3rem;
    
    }


    &__header {
        grid-column: 1/-1;
        justify-self:center;
        padding: 2rem;
        
    }
     &__form {
        grid-column: 2/ span 1;
        justify-self:center;    
    }
    &__options {
        margin-left: 1rem;
    }
}