.Footer {

    grid-column: 1/ -1;
    display:grid;
    grid-template-columns:
        [full-start] 1fr 
        [center-start] repeat(8, [col-start] minmax(min-content,1fr) [col-end] ) 
        [center-end] 1fr [full-end];
    background-color: $stripe-grey;
    color: $color-black;
    padding: 2rem 1rem;
    font-size: 1.6rem;
    justify-items: stretch;
    a {
        color: $trello-green-500;
        text-decoration: underline;
    }
   
    &__container {
        grid-column: center-start / center-end;
    
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
        grid-gap: 7rem;
        margin: 2rem 0rem;
        color: $color-black;
        padding: 2rem 1rem;
        font-size: 1.6rem;
        justify-items: stretch;
        @include respond(t-800) {
            border-top: 1px solid black;
        }
      
    }
    &__items {
        justify-content: center;
        align-items: center;
    }
    &__link {
        list-style: none;
        color: $color-black;
        text-decoration: none;
      
    }
    ul {
        list-style: none;
    }
    li {        
        text-align: center;
    }
    &__icon {
        text-align: center;
        padding: 0;
        line-height: 4rem;
        &-1 {
            font-size: 4rem;
        }
        &-2 {
            font-size: 2rem;
        }
    }
    &__blurb {
        text-align: center;
    }
}