.layout {
    display:grid;
    background-color: $fb-grey;
    color: $color-black;
    grid-template-columns:
        [full-start] 1fr 
        [center-start] repeat(8, [col-start] minmax(min-content,1fr) [col-end] ) 
        [center-end] 1fr [full-end];
    grid-template-rows: auto 1fr auto;
    min-height:100vh;

}