.dashboardTable {
    display:grid;
   
  
}

.dashboardTable__header {
    background-color:$color-white;
    display:grid;
    grid-template-columns: repeat(5,minmax(10rem,1fr));
    justify-content:center;
    @include respond(phone){
        display: none;
    }
}

.dashboardTable__row {
    display:grid;
    grid-template-columns: repeat(5,minmax(10rem,1fr));
    padding: 1rem;
    justify-content:center;
    text-align:center;
    align-items:center;
    color:$color-real-white;
    background-color:$slate-blue-dark;

    & td {
        margin: 0.5rem 0rem;
    } 
    &:hover {
        background-color:darken($slate-blue-dark,5%);
    }
    &-info {
        color:$fb-grey-1;
        font-size: 1.7rem;
    }
    @include respond(phone){
        grid-template-columns: 1fr;
        margin-bottom: 1rem;

    }
}
