
.Articles {
    grid-column: center-start / center-end;
    background:$fb-grey;
    justify-items:center;
    color:$trello-blue-900;
    font-size: 1.6rem;
    margin: 2rem 6rem;
    margin-bottom: 6rem;

    display: grid;
    grid-template-columns:  repeat(auto-fit,minmax(30rem,1fr));
    grid-gap: 3rem;
    @include respond(tab-port){
        grid-column: full-start / full-end;
        padding: 1rem 3rem;
        margin: 2rem 2rem;
    }
    @include respond(phone){
        overflow-x: scroll;
        padding: 1rem 1rem;
        margin: 2rem 0rem;
    }

    &__input {
        max-width: 20rem;
        outline: none;
        border:none;
        padding: 1rem 2rem;
        border-radius: 10px;
    }
}
.Article {
    max-width: 30rem;
    min-width: 20rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    @include respond(phone){
        max-width: 40rem;
        min-width: 20rem;
        padding: 1rem 2rem;
    }
   
    & > * {
        cursor: pointer;
    }
    &__image {
        width: 100%;
        height: 15rem;
  
        object-fit: cover;
    }

    h2 {
        font-size: 2.2rem;
        line-height: 2.5rem;
        margin: 0.9rem 0rem;
    }
    &__author {
        margin: 1.5rem 0rem;
    }


}