.section-login {
    grid-column: 1 / -1;
    padding: 6rem 0rem;
    background: $fb-grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    border-left: 2px solid $color-black;
    background-size: 100%;
    @include respond(phone) {
        border:none;
    }

    &__form {
        padding: 6rem;
        @include respond(phone) {
            padding: 2rem;
        }
    }
}