// COLORS
$color-primary:#298FCA;
$color-primary-light: #BCD9EA;
$color-primary-dark: #094C72;

$trello-green-50: rgb(238,246,236);
$trello-green-100:rgb(214,236,210);
$trello-green-900: rgb(63,111,33);

$color-secondary-light: #ffb900;
$color-secondary: #FFAB4A;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$slate-blue-dark: #1f303a;

$trello-blue-50: #E4F0F6;
$trello-blue-100: #BCD9EA;
$trello-blue-400: #298FCA;
$trello-blue-200: #607682;
$trello-blue-500: #0079BF;
$trello-blue-900: #0C3953;

$fb-grey: rgb(239, 241, 243);

$trello-red-50: #FBEDEB;
$trello-red-100: #F5D3CE;
$trello-red-200: #EFB3AB;
$trello-red-500: #EB5A46;
$trello-red-900: #6E2F1A;

$salmon-red: #ffb0b0;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$fb-grey: rgb(239, 241, 243);
$fb-grey-1: #d7d7d7;


$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-blue:#e1e7e9c4;

$color-white: rgba(255, 255, 255, 0.92);
$color-real-white: white;
$color-white-faded:rgba(255, 255, 255, 0.6);

$color-white-2: rgb(218, 213, 213);
$color-black: rgb(29, 33, 42);

$color-red:  rgb(206, 27, 0);
$color-red-light: red;
$color-red-dark: rgb(190, 32, 0);


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;