.HomeGallerySection {
    
    margin: 10rem 0;
    font-size: 1.6rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & h4 {
        font-size: 5.2rem;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 2rem;
        color: $color-black;
        @include respond(phone) {
            font-size: 3.2rem;
        }
    }
    &__content {
        margin-top: 2rem;
    }
}