.Product { 
    max-width: 40rem;
    min-width: 30rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    @include respond(phone){
        max-width: 40rem;
        min-width: 25rem;
        padding: 1rem 2rem;
    }

    &__image {
        width: 100%;
        height: 20.5rem;
        object-fit: cover;
        @include respond(phone) {
            height: 18.5rem;
        }
    
    }
    &__name, &__description, &__price, &__longDescription, &__button {
        display: flex;
  
        text-align: center;
        justify-content: center;
        align-items: flex-start;
        padding: 1rem;
    }
    &__name {
        font-weight: 600;
        background: $color-white;
        align-items: center;
    }
    &__description {
        overflow: hidden;
        background: $color-white;
        align-items: flex-start;
    }
    &__price {
        background-color:$color-red-light;
        color:$color-white;
        & span {
            font-weight: 600;
           
        }
    }
    &__button {
        cursor: pointer;
        outline:none;
        border:none;
        transition: all 0.1s;
        padding: 1rem 2rem;
        background-color: $fb-grey-1;
        display: flex;
        align-self: baseline;
        &:hover{
            background: darken($fb-grey-1,5%);
        }
    }
}