
.products , .products__noResults {
    grid-column: center-start / center-end;
    background:$fb-grey;
    justify-items:center;
    color:$trello-blue-900;
    font-size: 1.6rem;
    margin: 2rem 6rem;
    margin-bottom: 6rem;

    display: grid;
    grid-template-columns:  repeat(auto-fit,minmax(30rem,1fr));
    grid-gap: 3rem;
    @include respond(tab-port){
        grid-column: full-start / full-end;
        padding: 1rem 3rem;
        margin: 2rem 2rem;
    }
    @include respond(phone){
        overflow-x: scroll;
        padding: 1rem 1rem;
        margin: 2rem 0rem;
    }
}
.products__loading {
    font-size: 2rem;
    grid-column: center-start/ center-end;
    align-items: center;
    justify-self: center;
    padding: 5rem;
    & > * {
        margin-bottom: 4rem;
    }
}

.products__noResults {
    font-size: 2rem;
}

.products__input {
    grid-column: center-start/ center-end;
    grid-row: 1/2;
    max-width: 20rem;
    display: inline-block;
    outline: none;
    border:none;
    padding: 1rem 2rem;
    border-radius: 10px;
}

.products__header {
    grid-column: 1/-1;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 1rem;
    align-items: center;
    background: linear-gradient( to right, $trello-blue-100,$trello-blue-400);
    @include respond(phone){
        margin-right: 0rem;
        justify-content: center;
    }
}
    
