// TODO : move to new folder
.css_box_container {
    z-index: 10;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    &-1{
        justify-content: space-around;
    }
    &-2 {
        justify-content: space-evenly;
    }
    @include respond(phone){
        &-1, &-2{
            justify-content: space-evenly;
        }
     }

}
.css_box {
    width: 14rem;
   height: 14rem;
   cursor: pointer;
   border-radius: 1rem;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   text-transform: uppercase;
   color:$color-white;
   font-weight: 600;
   box-shadow: 2px 1px 14px 2px rgba(82, 82, 143, 0.39);
   transition: all 0.2s ease-in;
   transform: translate(0rem);
    &:hover {
        animation: jello_skewing 0.8s ease-in-out !important;
       
    }
    @include respond(t-800){
        width: 12rem;
        height: 12rem;
     }
     @include respond(phone){
        width: 10rem;
        height: 10rem;
        &-1{
            justify-content: center;
        }
        &-2 {
            justify-content: center;
        }
     }
    

    &-1 {
        background: $trello-green-500; 
    }
    &-2 {
        background: $trello-blue-400;
    }
    &-3 {
        background: $trello-purple-500;    
    }
    &-4 {
        background: $trello-red-500;
    }
    &-5 {
        background: $trello-orange-500;   
    }
    &-6 {
        background: $trello-yellow-600;
    }
    &-7 {
        background: $trello-pink-500;
    }
    &-8 {
       background: $trello-sky-500;
    }
    &-9 {
       background: $trello-lime-500;
    }
}

@keyframes jello_skewing {
    0% { transform: skewX(8deg) skewY(10deg); }
    20% { transform: skewX(-6deg) skewY(-8deg) ; }
    40% { transform: skewX(4deg) skewY(5deg); }
    60% { transform: skewX(-3deg) skewY(-4deg); }
    80% { transform: skewX(2deg) skewY(3deg); }
    100%   { transform: skewX(1deg) skewY(1deg); }
  }