.Developer { 
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: black;
    cursor: pointer;

  
    &__figure {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__image {
        width: 50%;
        border-radius: 50%;
        object-fit: cover;
        max-height: 14rem;
    }
    &__name, &__headline, &__handle, &__button {
        display: flex;
  
        text-align: center;
        justify-content: center;
        align-items: flex-start;
        padding: 1rem;
    }
    &__name {
        font-weight: 600;
        background: $color-white;
        align-items: center;
    }
    &__headline {
        overflow: hidden;
        background: $color-white;
        align-items: flex-start;
        max-height: 10rem;
        flex-grow: 1;
    }
    &__handle {
        background-color:$color-black;
        color:$color-white;
        & span {
            font-weight: 600;
           
        }
    }
    &__button {
        cursor: pointer;
        outline:none;
        border:none;
        transition: all 0.1s;
        padding: 1rem 2rem;
        color: $color-black;
        background-color: $fb-grey-1;
    }
}