.Portfolio {
    color: $color-black;
    text-align: center;
    text-decoration: none;
    max-width: 30rem;
    width: 100%;
    max-height: 30rem;
    min-height: 20rem;
    object-fit: cover;
    perspective: 150rem;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__side {
        transition: all 0.6s ease;
        max-width: 30rem;
        width: 100%;
        max-height: 30rem;
        min-height: 20rem;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 3rem 0.8rem;


        & img {
            width: 100%;
            object-fit: cover;
        }
        &-front {
            background: $color-black;
            color: $color-white;
        }
        &-back {
            background: $color-white;
            padding: 0.5rem;
            transform: rotateY(180deg);
            &  > * {
                margin: .5rem 0rem;
            }
            & button {
                outline: none;
                border: none;
                padding: .75rem 1.4rem;
                border-radius: 4px;
                background: $color-white;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
            p {
                font-weight: bold;
            }
        }
    }

    &:hover &__side-front {
        transform: rotateY(-180deg);
    }

    &:hover &__side-back {
        transform: rotateY(0);
    }
 

  
    &__image {
        width: 100%;
        max-height: 30rem;
        min-height: 20rem;
        object-fit: cover;
        &:hover {
            opacity: 0;
        }
    }
}