.posts {
    display:grid;
     grid-template-columns:
            [full-start] 1fr 
            [center-start] repeat(8, [col-start] minmax(min-content,1fr) [col-end] ) 
            [center-end] 1fr [full-end];
    background-color:$trello-blue-500;
    color: $color-black;
    padding: 2rem 1rem;
}